{% extends "base.html" %}
{% load widget_tweaks %}
{% load static %}
{% block content %}
<section class="">
    <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
<a href="{% url "main:index" %}">
            <h1 class="flex items-center mb-6 text-2xl font-semibold text-gray-900">
                Auto Coding  
            </h1>
</a>
        <div class="w-1/2 bg-white rounded-lg shadow">
            <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
                <h2 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl">
                    회원가입
                </h2>
                <form class="space-y-4 md:space-y-6" action="" method="post">
                    {% csrf_token %}
                    <div>
                        <label for="{{ form.email.id_for_label }}" class="block mb-2 text-sm font-medium text-gray-900">이메일</label>
                        {{form.email|add_class:"bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5"|attr:"placeholder: 이메일"}}
                        <p class='text-sm mt-2 text-gray-400'>메일주소는 비밀번호 변경이나 찾기 등에 사용됩니다.
                        </p>                        
                        <p class='text-sm mt-2 text-gray-400'>인증 메일이 보이지 않으면 스팸보관함을 열어보시길 바랍니다.
                        </p>
                    </div>
                    <div>
                        <label for="{{ form.password1.id_for_label }}" class="block mb-2 text-sm font-medium text-gray-900">비밀번호</label>
                        {{form.password1|add_class:"bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5"|attr:"placeholder: 비밀번호"}}
                        <p class='text-sm mt-2 text-gray-400'>비밀번호는 최소 8자 이상이어야 합니다.
                        </p>
                        <p class='text-sm mt-2 text-gray-400'>숫자로만 이루어진 비밀번호는 사용할 수 없습니다.
                        </p>
                    </div>
                    <div>
                        <label for="{{ form.password2.id_for_label }}" class="block mb-2 text-sm font-medium text-gray-900">비밀번호 확인</label>
                        {{form.password2|add_class:"bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5"|attr:"placeholder: 비밀번호 확인"}}
                    </div>                    
                    <div>
                        <label for="{{ form.nickname.id_for_label }}" class="block mb-2 text-sm font-medium text-gray-900">닉네임</label>
                        {{form.nickname|add_class:"bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5"|attr:"placeholder: 닉네임"}}
                        <p class='text-sm mt-2 text-gray-400'>닉네임은 8자 이내여야 합니다.
                        </p>
                    </div>

                    <button type="submit" class="w-full text-white bg-blue-500 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center hover:bg-red-500 duration-200">회원가입</button>
                    <p class="text-sm font-light text-gray-500">
                        계정이 있으신가요? <a href="{% url "accounts:login" %}" class="font-medium text-blue-500 hover:underline ">로그인</a>
                    </p>
                </form>
            </div>
        </div>
    </div>
  </section>
  {% endblock  %}
